<%- include("header") -%>

<div class="heading">
  <h2>About Todo List </h2>
</div>

<div id="content">
  <p>
    HA! is a todo list web application.
    It is simple and intuitive. Use the add button to add a task and once you have
    accomplished a task, cross it off by
    checking the box next to the completed task. It is that simple!
    </p>

    <p>Start feeling accomplished, Check off your list</p>
</div>

<%- include("footer") -%>
