<%- include("header") -%>

<div class="heading">
  <h2> Contact Me </h2>
</div>

<div id="content">
  <p>
    If you love the look and feel of HA! and would like a similar project,
  feel free to contact me @ hdaniel7475@gmail.com.
    </p>
</div>


<%- include("footer") -%>
